.form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-column {
  flex: 1;
  margin-right: 10px;
}

.form-column:last-child {
  margin-right: 0;
}

.full-width {
  flex: 100%;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .form-column {
    flex: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
